.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../slike/Hero.jpg"); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
  max-width: 800px;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-button {
  background-color: #fff;
  color: #000;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #FF8854;
  cursor: pointer;
}


/*
#54B9FF
#e6b800
*/