.NavContainer{
  display: flex; 
  position: fixed;
  top: 0; 
  z-index: 30; 
  padding-top: 8px;
  padding-bottom: 8px; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  height: 50px;
  transition: background-color 1.2 ease-in-out, box-shadow 0.6 ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}

.NavContainer.nav-scrolled{
  background-color: #a5a7aa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.NavBar{
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 40px;
}

.left-part{
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  gap: 64px;
}

.right-part{
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.links{
  display: flex; 
  gap: 20px; 
  justify-content: space-between; 
  align-items: center; 
  font-size: 16px;
  line-height: 20px; 
}

.Logo{
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

a:hover{
  color: #54B9FF;
}

.burger{
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 101;
}

.burger .line{
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3 ease;
}

@media (max-width: 768px) {
  .burger{
    display: flex;
    position: absolute;
    right: 20px;
    font-size: 28px;
    color: white;
  }

  .right-part{
    display: none;
  }
  
  .mobile-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #a5a7aa;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 100;
    animation: fadeInMenu 0.4s ease-in-out;
  }

  .mobile-links{
    list-style: none;
    padding: 0;
    margin-top: 60px;
    width: 100%;
  }

  .mobile-links li{
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
  }

  .mobile-links li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }

  .mobile-links li a span{
    font-size: 20px;
    color: #5e5e5e;
  }

  .Logo{
    color: #fff;
    z-index: 102;
  }

}

@keyframes fadeInMenu{
  from{
    opacity: 0;
    transform: translateY(-20px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}